.form {
  width: 952px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.button_size_small {
  min-width: 175px;
}

.button_size_big {
  min-width: 362px;
}

.list {
  list-style-type: none;
  margin: 120px 0 0;
  padding: 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}

