.form {
  width: 980px;
}

.fieldset {
  align-items: center;
  width: 980px;
}

.radio {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.size_ascending {
  min-width: 208px;
}

.size_descending {
  min-width: 187px;
}

.button {
  margin-left: 68px;
}

.list {
  list-style-type: none;
  margin: 48px 0 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}